* {
    --accent-color: #404040;
    --select-color: #ffc0cb;
}

window {
    border-radius: 25px;
}

.search-box {
    border-radius: 25px;
    font-size: x-large;
    background: var(--accent-color);
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 16px;
    padding-right: 16px;
}

.search-entry {
    outline: none;
}

.app-label {
    font-size: x-small;
}

.scrolled-window {
    background: var(--accent-color);
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

flowboxchild:selected {
    background-color: transparent;
    box-shadow: 0 3px 0 0 var(--select-color);
    color: unset;
}

flowboxchild {
    border-radius: 0px;
    box-shadow: none;
    transition: box-shadow 200ms ease-in-out;
}

button.app-button {
    background-color: transparent;
    border: none;
    outline: none;
    color: unset;
    animation: none;
    border-radius: 0px;
    box-shadow: none;
    transition: box-shadow 200ms ease-in-out;
}

button.selected-button {
    box-shadow: 0 3px 0 0 var(--select-color);
}